
<!DOCTYPE html>
<html lang="en">
<head>
<title>西安交通大学人居学院</title>
<!-- custom-theme -->
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="西安交通大学人居学院">
<meta name="description" content="西安交通大学人居学院">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet">
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="js/rem.js"></script>

<!--[if IE 9]>
 <style>
    .animatedOpacity{
        opacity:1;
        }
    .sort_in{
    margin-top:0.3rem;
    }
 </style>
<![endif]-->
</head>
<body style="background:#f5f5f5;">
<div id="app">
    <header>
        <div class="navigation fixed-top bg">
          <div class="navigation_box contain">
             <div class="navigation_left flex">
                 <a href="index.html"><img src="images/logo.png" class="img-responsive"></a>
             </div>
             <div class="nav_toggle hidden-this" @click="toggleMenu">
                 <img src="images/nav.png" />
             </div>
             <div class="navigation_right" id="computer">
                 <ul class="navigate">
                    <li><a href="index.html" class="active">支部风采</a></li>
                    <li><a href="news.html">新闻动态</a></li>
                    <li><a href="organization.html">组织活动</a></li>
                    <li><a href="login.html">党员管理</a></li>
                    <li><a href="manerger_login.html">党员管理员</a></li>
                </ul>
             </div>
             <div class="navigation_right orgin" :class="(is_toggle?'after':'')" id="phone">
                 <ul class="navigate">
                    <li><a href="index.html" class="active">支部风采</a></li>
                    <li><a href="case.html">新闻动态</a></li>
                    <li><a href="customize.html">组织活动</a></li>
                    <li><a href="login.html">党员管理</a></li>
                    <li><a href="manerger_login.html">党员管理员</a></li>
                </ul>
             </div>
          </div>  
        </div>
    </header>

	<div class="banner2">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carousel-example-generic" v-for="(item,index) in sliderData" :data-slide-to="index" :class="index==0?'active':''"></li>
            </ol>
            <div class="carousel-inner" role="listbox" >
                <div  class="item" v-for="(item,index) in sliderData" :class="index==0?'active':''">
                  <img :src="item.mainImg?item.mainImg[0].url:''" class="img-responsive banner_img">
                </div>
            </div>  
        </div>
	</div>
	<div style="width:100%;height:0.9rem;"></div>

	<div class="introduce bg2">
	    <div class="title_box">
	        <h2 class="color1"><span>支部简介</span></h2>
	    </div>
	    <div class="contain"  style="padding:0">
	        <div class="introduce_cont bg1" @click="intoDetail(mainData.id)">
	            <div class="introduce_left">
	                <img :src="mainData.mainImg?mainData.mainImg[0].url:''">
	            </div>
	            <div class="introduce_right">
	                <div class="introduce_in bg2">
	                    <h3 class="font20">{{mainData.title}}</h3>
	                    <p>{{mainData.description}}</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="head bg1">
	    <div class="title_box">
	        <h2 class="color1"><span>支部负责人</span></h2>
	    </div>
	    <div class="contain head_cont flex" @click="cooper_click(5,principalData,'minus')" style="padding:0">
	    	<div class="click_btn"  style="text-align:left;">
	    		<img src="images/left.png">
	    	</div>
	    	<div class="leader">
	    		<!-- <transition-group  name="fade"> -->
			        <div class="head_item" v-for="(item,index) in web_principalData" :key="item.title">
			            <img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" />
			            <div class="head_bottom">
			                <p class="font18 avoidOverflow">{{item.title}}</p>
			                <p class="font6 color6  avoidOverflow">{{item.contactPhone}}</p>
			                <p class="font6 color6  avoidOverflow">{{item.description}}</p>
			            </div>
			        </div>
			    <!-- </transition-group> -->
		    </div>
		    <div class="click_btn" @click="cooper_click(5,principalData,'add')" style="text-align:right;">
		    	<img src="images/right.png">
		    </div>
	    </div>
	</div>
	<div class="advanced">
	    <div class="title_box">
	        <h2 class="color1"><span>先进典型</span></h2>
	    </div>
	    <div class="contain" style="padding:0">
	        <div class="advance_cont" v-for="item in modelData">
	            <div @click="intoDetail(item.id)">
	                <div class="advance_left">
	                    <img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" />
	                </div>
	                <div class="advance_right">
	                    <h3 class="color2">{{item.title}}</h3>
	                    <p class="font16 color6">{{item.description}}</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript " src="js/bootstrap.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/my.js"></script>
<script src="js/rem.js"></script>
<script type="text/javascript">
var app = new Vue({
    el: '#app',
   
        data: function() {
        return {
            is_toggle:false,
            sliderData:[],
            mainData:{},
            principalData:[],
            modelData:[],
            is_scale:2,
            paginate: {
                count: 0,
                currentPage: 1,
                pagesize: 6,
                is_page: true,
            },
            cooperStart:0,
            searchItem:{
                
            },
            web_principalData:[],
            pageArray:[],
            allPages:0,
            linkPage:'',

        }

    },

    created: function () {
    	const self = this;
      	self.getMainData();
      	self.getPrincipalData();
      	self.getModelData();
      	self.getSliderData();
      	setInterval(function(){
            self.cooper_click(5,self.principalData,'add')
        }, 3000);
    },

    methods:{
    	cooper_click(standard,array,type){
            const self = this;
            var res = window.base.jsTurn(self.cooperStart,standard,array,type);
            self.web_principalData = res.array;
            self.cooperStart = res.start;
        },
    	getMainData(){
		    const  self =this;
		    const postData={};
		    postData.searchItem = {
		      thirdapp_id:2
		    };
		    postData.getBefore = {
			    caseData:{
			        tableName:'Label',
			        searchItem:{
			          title:['=',['支部简介']],
			        },
			        middleKey:'menu_id',
			        key:'id',
			        condition:'in',
			    },
		    };
		    const callback =(res)=>{
		      if(res.info.data.length>0){
		        self.mainData = res.info.data[0]
		      }else{
		        alert('数据错误')
		      };
		      console.log('self.mainData',self.mainData)
		    };
		    window.base.articleGet(postData,callback);
		},


		getSliderData(){
		    const self = this;
		    const postData = {};
		    postData.searchItem = {
		      thirdapp_id:2
		    };
		    postData.getBefore = {
			    caseData:{
			        tableName:'Label',
			        searchItem:{
			          title:['=',['首页轮播']],
			        },
			        middleKey:'parentid',
			        key:'id',
			        condition:'in',
			    },
		    };
		    const callback = (res)=>{ 
		      console.log(1000,res);
		      if(res.info.data.length>0){
		       self.sliderData.push.apply(self.sliderData,res.info.data)
		      }
		    };
		    window.base.labelGet(postData,callback);
		},

		getPrincipalData(){
		    const  self =this;
		    const postData={};
		    postData.paginate = window.base.cloneForm(self.paginate);
		    postData.searchItem = {
		      thirdapp_id:2
		    };
		    postData.getBefore = {
			    caseData:{
			        tableName:'Label',
			        searchItem:{
			          title:['=',['支部负责人']],
			        },
			        middleKey:'menu_id',
			        key:'id',
			        condition:'in',
			    },
		    };
		    const callback =(res)=>{
		      if(res.info.data.length>0){
		        self.principalData.push.apply(self.principalData,res.info.data)
		      }else{
		        alert('没有更多了')
		      };
		    };
		    window.base.articleGet(postData,callback);
		},

 		
		getModelData(){
		    const  self =this;
		    const postData={};
		    postData.paginate = window.base.cloneForm(self.paginate);
		    postData.searchItem = {
		      thirdapp_id:2
		    };
		    postData.getBefore = {
			    caseData:{
			        tableName:'Label',
			        searchItem:{
			          title:['=',['先进典型']],
			        },
			        middleKey:'menu_id',
			        key:'id',
			        condition:'in',
			    },
		    };
		    const callback =(res)=>{
		      if(res.info.data.length>0){
		        self.modelData.push.apply(self.modelData,res.info.data)
		      }else{
		        alert('没有更多了')
		      };
		    };
		    window.base.articleGet(postData,callback);
		},
		menuShow: function(id) {
            const self =this;
            var currentId = id;
              self.is_scale = currentId;  
               console.log('head_big',self.is_scale)
        },
		intoDetail(id){
            const self = this;
            window.location.href = 'detail.html?id='+id;
        },

        toggleMenu:function(e){
            var self = this;
            self.is_toggle = !self.is_toggle;
        },

        consult:function(e){
            var self = this;
            self.is_show = !self.is_show;
        },

        mask:function(e){
            var self = this;
            self.is_show = false;
        },

        enter: function(e) {
            var self = this;
            self.is_show1 = true;                             
            console.log(self.is_show1);             
        },

        leave: function(e) {
            var self = this;
            self.is_show1 = false;                             
            console.log(self.is_show1);             
        },
    }
});
</script>
</body>
</html>