
<!DOCTYPE html>
<html lang="en">
<head>
<title>党员管理</title>
<!-- custom-theme -->
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="西安交通大学人居学院">
<meta name="description" content="西安交通大学人居学院">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet">
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="js/rem.js"></script>

<!--[if IE 9]>
 <style>
    .animatedOpacity{
        opacity:1;
        }
    .sort_in{
    margin-top:0.3rem;
    }
 </style>
<![endif]-->
</head>
<body style="background:#f5f5f5;">
<div id="app">
    <header>
        <div class="navigation fixed-top bg">
          <div class="navigation_box contain">
             <div class="navigation_left flex">
                 <a href="index.html"><img src="images/logo.png" class="img-responsive"></a>
             </div>
             <div class="nav_toggle hidden-this" @click="toggleMenu">
                 <img src="images/nav.png" />
             </div>
             <div class="navigation_right" id="computer">
                 <ul class="navigate">
                   <li><a href="index.html">工作室风采</a></li>
                    <li><a href="news.html">新闻动态</a></li>
                    <li><a href="organization.html">组织活动</a></li>
                    <li><a href="login.html">党员管理</a></li>
                    <li><a href="manerger_login.html">党员管理员</a></li>
                </ul>
             </div>
             <div class="navigation_right orgin" :class="(is_toggle?'after':'')" id="phone">
                 <ul class="navigate">
                    <li><a href="index.html">工作室风采</a></li>
                    <li><a href="news.html">新闻动态</a></li>
                    <li><a href="organization.html">组织活动</a></li>
                    <li><a href="login.html">党员管理</a></li>
                    <li><a href="manerger_login.html">党员管理员</a></li>
                </ul>
             </div>
          </div>  
        </div>
    </header>
    <div class="banner2">
        <img src="images/banner1.jpg" class="img-responsive"/>
    </div>
    <div style="width:100%;height:0.9rem;"></div>
    <div class="member">
        <div class="contain">
            <div class="member_left bg1">
                <h3 class="bg font20 color1"><span>管理员</span></h3>
                <div class="member_bottom">
                    <div class="font18 color sort">
                        <a @click="menu_show(0)" href="member.html">基本信息</a>  
                    </div>
                    <div class="font18 color sort">
                        <a href="member_notice.html">公告通知</a>
                    </div>
                    <div class="font18 color sort">
                        <a href="member_meeting.html">会议通知</a>
                    </div>
                    <div class="font18 color sort">
                        <a href="member_task.html" >任务中心</a>
                          
                    </div>
                    <div class="font18 color sort">
                        <a  href="member_report.html" class="active">思想汇报</a>
                        <ul>
                            <li class="font16 color6" :style="currentId == '0'?'border:solid 1px #b02923':''"  @click="tab(0)">全部</li>
                            <li class="font16 color6" :style="currentId == '1'?'border:solid 1px #b02923':''"  @click="tab(1)">未完成</li>

                            <li class="font16 color6"  :style="currentId == '2'?'border:solid 1px #b02923':''" @click="tab(2)">迟交</li>
                            <li class="font16 color6"  :style="currentId == '3'?'border:solid 1px #b02923':''" @click="tab(3)">按时完成</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="member_right" :style="is_menu == 999?'display:none':'display:block'">
                <div>
                    <div class="message_list bg1" style="height:2.6rem;" v-for="item in mainData">

                        <div  class="message_left" style="width:100%">
                        	<div class="message_time">
	                            <span class="font14 color6">发布任务时间：{{item.create_time}}</span>
	                            <span class="font14 color6">完成任务时间：{{item.end_time}}</span>
	                        </div>
                            <h3 class="font20 color2">{{item.title}}</h3>
                            <p class="font16 color6">{{item.description}}</p>
                        </div>
                        <div class="join">
                            <a  class="font16 color1 bg" @click="intoSubmit(item.id)" style="width:4rem;height:0.4rem;line-height:0.4rem;">{{item.message.length>0?'编辑':'提交'}}</a >
                        </div>
                    </div>
                </div>
                 

            </div>
             <div class="fenye">
                    <span>
                        共{{allPages}}页
                    </span>
                    <a class="pages backPage" data-type="back" @click="changePage">上一页</a>
                    <span v-for="item in pageArray">
                        <a v-if="item == paginate.currentPage" class="currentpages active" >{{item}}</a>
                        <a v-if="item != paginate.currentPage" class="currentpages" :data-page="item"  @click="linkTo">{{item}}</a>
                    </span>
                    <a class="pages nextPage" data-type="next" @click="changePage">下一页</a>
                    <span>
                        跳转至：
                        <input style="border:1px solid black;" :data-page="linkPage" v-model="linkPage" @blur="linkTo" />
                    </span>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript " src="js/bootstrap.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/my.js"></script>
<script src="js/rem.js"></script>
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    data: function() {
        return {
        	currentId:0,
            is_toggle:false,
            is_menu:0,
            is_read:'最新任务',
            linkPage:[],
            pageArray: [],
            allPages: 0,
            menuShow:false,
            mainData:[],
            getBefore:{
		      	//caseData:{
			        //tableName:'Label',
			        //searchItem:{
			          //title:['=',['任务中心']],
			        //},
			        //middleKey:'menu_id',
			        //key:'id',
			        //condition:'in',
		    	//}
		     
        	},
           	paginate:{
                count: 0,
                currentPage: 1,
                pagesize: 6,
                is_page: true,
            },
            searchItem:{
            	thirdapp_id:2,
            	menu_id:15
            }
    	}
	},

    created:function () {
      	this.getMainData()
    },
    methods:{

    	getMainData(isNew){
		    const  self =this;
		    if(isNew){
		        self.mainData = [];
	            self.paginate = {
	                count: 0,
	                currentPage: 1,
	                pagesize: 6,
	                is_page: true,
	            }
		    };
		    const postData={};
		    postData.paginate = window.base.cloneForm(self.paginate);
		    postData.searchItem = window.base.cloneForm(self.searchItem);
		    postData.getBefore = window.base.cloneForm(self.getBefore);
		    postData.getAfter = {
		      message:{
		        tableName:'Message',
		        middleKey:'id',
		        key:'relation_id',
		        searchItem:{
		          status:1
		        },
		        condition:'='
		      }
		    };
		    const callback =(res)=>{
		      if(res.info.data.length>0){
		        self.mainData.push.apply(self.mainData,res.info.data);
		        self.paginate['count'] = res.info.total;
                window.base.computePageArr(self);
		       	for (var i = 0; i < self.mainData.length; i++) {
		       		self.mainData[i].create_time = window.base.shortString(self.mainData[i].create_time,16)
		       		self.mainData[i].end_time = self.timestampToTime(self.mainData[i].end_time)
		       		console.log(self.mainData[0].end_time)
		       		
		       	};
		      }else{
		        self.isLoadAll = true;
		        alert('没有更多了');
		      };
		      
		    };
		    window.base.articleGet(postData,callback);
		},


		timestampToTime(timestamp) {
    		const self = this;
    		console.log(timestamp)
		    var timestamp = parseInt(timestamp);
		    
		    var format = new Date(timestamp).getFullYear()+'-';
		    if(new Date(timestamp).getMonth()<10){
		      var format = format + '0' + (new Date(timestamp).getMonth()+1)+'-';
		    }else{
		      var format = format +  (new Date(timestamp).getMonth()+1)+'-';
		    }
		    if(new Date(timestamp).getDate()<10){
		      var format = format + '0' + new Date(timestamp).getDate()+'  ';
		    }else{
		      var format = format +  new Date(timestamp).getDate()+'  ';
		    }
		    if(new Date(timestamp).getHours()<10){
		      var format = format + '0' + new Date(timestamp).getHours();
		    }else{
		      var format = format +  new Date(timestamp).getHours();
		    }
		    if(new Date(timestamp).getMinutes()<10){
		      var format = format + ':' + '0' + new Date(timestamp).getMinutes();
		    }else{
		      var format = format + ':' + new Date(timestamp).getMinutes();
		    }

	    	return format;

		},

		tab(num){
		    const self = this;
		    self.currentId=num;
		    self.getBefore = {};
		    if(num==0){

		    }else if(num==1){
		    	self.getBefore.relation={
		            tableName:'Message',
		        	searchItem:{
	          	  		status:['in',[1]]
		        	},
		       	 	middleKey:'id',
		        	key:'relation_id',
		        	condition:'not in',	
		    	}
		  		      			   	    	
		    }else if(num==2){
		    	self.getBefore.relation={
		            tableName:'Message',
		        	searchItem:{
	          	  		behavior:['in',[1]]
		        	},
		       	 	middleKey:'id',
		        	key:'relation_id',
		        	condition:'in',	
		    	}
		    }else if(num==3){
		    	   	self.getBefore.relation={
		            tableName:'Message',
		        	searchItem:{
	          	  		behavior:['in',[2]]
		        	},
		       	 	middleKey:'id',
		        	key:'relation_id',
		        	condition:'in',	
		    	}
		    };
		    self.getMainData(true)
		},

        toggleMenu:function(e){
            var self = this;
            self.is_toggle = !self.is_toggle;
        },

   		linkTo(e) {
            var self = this;
            console.log(e);
            self.linkPage = window.base.getDataSet(e).page;
            window.base.linkTo(self);
        },

        changePage(e) {
            var self = this;
            var dataSet = window.base.getDataSet(e);
            window.base.changePage(dataSet, self);
        },

        intoSubmit(id){
            const self = this;
            window.location.href = 'member_task_upload.html?id='+id;
        },
      
        menu_show(id){
            const self = this;
            var index = id;
            self.is_menu = index;
            self.menuShow = !self.menuShow;
            console.log('menuShow',self.menuShow);
        },
        submit(){
            const self = this;
            self.is_menu = 999;
            console.log('is_menu',self.is_menu);
        }
    }
});
</script>
</body>
</html>