
<!DOCTYPE html>
<html lang="en">
<head>
<title>管理员</title>
<!-- custom-theme -->
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="西安交通大学人居学院">
<meta name="description" content="西安交通大学人居学院">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet">
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="js/rem.js"></script>

<!--[if IE 9]>
 <style>
    .animatedOpacity{
        opacity:1;
        }
    .sort_in{
    margin-top:0.3rem;
    }
 </style>
<![endif]-->
</head>
<body style="background:#fff;">
<div id="app">
    <header>
        <div class="navigation fixed-top bg">
          <div class="navigation_box contain">
             <div class="navigation_left flex">
                 <a href="index.html"><img src="images/logo.png" class="img-responsive"></a>
             </div>
             <div class="nav_toggle hidden-this" @click="toggleMenu">
                 <img src="images/nav.png" />
             </div>
             <div class="navigation_right" id="computer">
                 <ul class="navigate">
                    <li><a href="index.html">工作室风采</a></li>
                    <li><a href="news.html">新闻动态</a></li>
                    <li><a href="organization.html">组织活动</a></li>
                    <li><a href="login.html">党员管理</a></li>
                    <li><a href="manerger_login.html">党员管理员</a></li>
                </ul>
             </div>
             <div class="navigation_right orgin" :class="(is_toggle?'after':'')" id="phone">
                 <ul class="navigate">
                    <li><a href="index.html">工作室风采</a></li>
                    <li><a href="news.html">新闻动态</a></li>
                    <li><a href="organization.html">组织活动</a></li>
                    <li><a href="login.html">党员管理</a></li>
                    <li><a href="manerger_login.html">党员管理员</a></li>
                </ul>
             </div>
          </div>  
        </div>
    </header>

    <div style="width:100%;height:0.9rem;"></div>
   <div class="meeting">
       <div class="contain">
           <div class="search flex">
                <input placeholder="请搜索内容" class="font18 color9" v-model="sForm.name"/>
                <div class="search_btn" @click="search">
                    <img src="images/search.png"/>
                </div>
            </div>
            <div class="meeting_cont bg1" style="padding-bottom: 0.75rem">
                <div class="title_box">
                    <h2 class="color1"><span>会议记录</span></h2>
                </div>
                <ul class="meeting_tilte">
                    <li>参会人</li>
                    <li>打卡状态</li>
                    <li>打卡时间</li>
                    <li>操作</li>
                </ul>
                <ul class="meeting_list" v-for="item in mainData">
                    <li>{{item.userInfo[0].name}}</li>
                    <li :class="item.score==1?'color':''">{{item.score==1?'未签到':'已签到'}}</li>
 
                    
                    <li>{{item.sign_time}}</li>
                    <li v-if="item.score==2">
                        <button class="bg" @click="messageUpdate(item.id,0)">确认</button>
                        <button class="bg" @click="messageUpdate(item.id,1)">取消</button>
                    </li>
                    <li v-if="item.score==3">
                        <button class="bg" >已核销</button>
                    </li>
                     <li v-if="item.score==1">
                        <button class="bg">待签到</button>
           
                    </li>
                </ul>
                
            </div>
       </div>
   </div>
</div>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript " src="js/bootstrap.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/my.js"></script>
<script src="js/rem.js"></script>
<script type="text/babel">
var app = new Vue({
    el: '#app',
    data: function() {
        return {
        	mainData:[],
        	sliderData:[],
            is_toggle:false,
            searchItem:{
			   thirdapp_id:2
			},
			paginate:{
                count: 0,
                currentPage: 1,
                pagesize: 6,
                is_page: true,
            },
            paginate:{
                count: 0,
                currentPage: 1,
                pagesize: 6,
                is_page: true,
            },
			getBefore:{
		     
		    },
		    sForm:{
			    name:''
			}
        }
    },
    created: function () {
      	this.getMainData()
    },


    methods:{


	    getMainData(isNew){
		    const  self =this;
		    if(isNew){
	            self.mainData = [];
	            self.paginate = {
	                count: 0,
	                currentPage: 1,
	                pagesize: 6,
	                is_page: true,
	            }
		    };
		    const postData={};
		    postData.token = localStorage.getItem('token');
		    postData.paginate = window.base.cloneForm(self.paginate);
		    postData.searchItem = {
		      relation_id:window.base.GetRequest().id,
		      type:1,
		      class:2,
		      user_type:0
		    };
		    if(JSON.stringify(self.getBefore) != "{}"){
		      postData.getBefore = window.base.cloneForm(self.getBefore);
		    };
		    postData.getAfter = {
		      userInfo:{
		        tableName:'UserInfo',
		        middleKey:'user_no',
		        key:'user_no',
		        condition:'=',
		        searchItem:{
		          status:1,
		        }
		      }
		    };
		    const callback =(res)=>{
		      if(res.info.data.length>0){
		        self.mainData.push.apply(self.mainData,res.info.data);
		        
		       	for (var i = 0; i < self.mainData.length; i++) {
		       		
		       		self.mainData[i].sign_time = self.timestampToTime(self.mainData[i].sign_time)
		       		console.log(self.mainData[0].end_time)
		       		
		       	};
		      }else{
		        self.isLoadAll = true;
		        alert('没有更多了');
		      };
		    };
		    window.base.messageGet(postData,callback);
		  },

		messageUpdate(id,num){
		    const self = this;
		   
		    const postData = {};
		     postData.token = localStorage.getItem('token');
		    postData.searchItem={
		      id:id,
		      user_type:0
		    };
		    postData.data = {};
		    if(num==0){
		      postData.data.score = 3
		    }else if(num==1){
		      postData.data.score = 1
		    };
		    
		    const callback = (res)=>{
		      if(res.solely_code==100000){
		        alert('修改成功');
		        setTimeout(function(){
		          self.getMainData(true)
		        },1000);
		      };
		    };
		    window.base.messageUpdate(postData,callback);
		},

		search(){
		    const self = this;
		    if(self.sForm.name){  
		      self.getBefore = {
		        userInfo:{
		          tableName:'UserInfo',
		          middleKey:'user_no',
		          key:'user_no',
		          condition:'in',
		          searchItem:{
		            name:['LIKE',['%'+self.sForm.name+'%']],
		          }
		        }
		      };
		      self.getMainData(true)
		      
		    }else if(self.sForm.name==''){
		        self.getBefore = {};
		        self.getMainData(true)  
		    }
	 },

		timestampToTime(timestamp) {
    		const self = this;
    		console.log(timestamp)
		    var timestamp = parseInt(timestamp);
		    
		    var format = new Date(timestamp).getFullYear()+'-';
		    if(new Date(timestamp).getMonth()<10){
		      var format = format + '0' + (new Date(timestamp).getMonth()+1)+'-';
		    }else{
		      var format = format +  (new Date(timestamp).getMonth()+1)+'-';
		    }
		    if(new Date(timestamp).getDate()<10){
		      var format = format + '0' + new Date(timestamp).getDate()+'  ';
		    }else{
		      var format = format +  new Date(timestamp).getDate()+'  ';
		    }
		    if(new Date(timestamp).getHours()<10){
		      var format = format + '0' + new Date(timestamp).getHours();
		    }else{
		      var format = format +  new Date(timestamp).getHours();
		    }
		    if(new Date(timestamp).getMinutes()<10){
		      var format = format + ':' + '0' + new Date(timestamp).getMinutes();
		    }else{
		      var format = format + ':' + new Date(timestamp).getMinutes();
		    }

	    	return format;

		},

        toggleMenu:function(e){
            var self = this;
            self.is_toggle = !self.is_toggle;
        },
    }
});
</script>
</body>
</html>