
<!DOCTYPE html>
<html lang="en">
<head>
<title>党员管理</title>
<!-- custom-theme -->
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="西安交通大学人居学院">
<meta name="description" content="西安交通大学人居学院">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet" type="text/css"/>
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet">
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script src="js/rem.js"></script>

<!--[if IE 9]>
 <style>
    .animatedOpacity{
        opacity:1;
        }
    .sort_in{
    margin-top:0.3rem;
    }
 </style>
<![endif]-->
</head>
<body style="background:#f5f5f5;">
<div id="app">
    <header>
        <div class="navigation fixed-top bg">
          <div class="navigation_box contain">
             <div class="navigation_left flex">
                 <a href="index.html"><img src="images/logo.png" class="img-responsive"></a>
             </div>
             <div class="nav_toggle hidden-this" @click="toggleMenu">
                 <img src="images/nav.png" />
             </div>
             <div class="navigation_right" id="computer">
                 <ul class="navigate">
                   <li><a href="index.html">支部风采</a></li>
                    <li><a href="news.html">新闻动态</a></li>
                    <li><a href="organization.html">组织活动</a></li>
                    <li><a href="login.html" class="active">党员管理</a></li>
                    <li><a href="manerger_login.html">党员管理员</a></li>
                </ul>
             </div>
             <div class="navigation_right orgin" :class="(is_toggle?'after':'')" id="phone">
                 <ul class="navigate">
                    <li><a href="index.html">支部风采</a></li>
                    <li><a href="news.html">新闻动态</a></li>
                    <li><a href="organization.html">组织活动</a></li>
                    <li><a href="login.html" class="active">党员管理</a></li>
                    <li><a href="manerger_login.html">党员管理员</a></li>
                </ul>
             </div>
          </div>  
        </div>
    </header>
	<div class="banner2">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carousel-example-generic" v-for="(item,index) in sliderData" :data-slide-to="index" :class="index==0?'active':''"></li>
            </ol>
            <div class="carousel-inner" role="listbox" >
                <div  class="item" v-for="(item,index) in sliderData" :class="index==0?'active':''">
                  <img :src="item.mainImg?item.mainImg[0].url:''" class="img-responsive banner_img">
                </div>
            </div>  
        </div>
	</div>
    <div style="width:100%;height:0.9rem;"></div>
    <div class="member">
        <div class="contain">
            <div class="member_left bg1">
                <h3 class="bg font20 color1"><span>管理员</span></h3>
                <div class="member_bottom">
                    <div class="font18 color sort">
                        <a @click="menu_show(0)" href="member.html">基本信息</a>  
                    </div>
                    <div class="font18 color sort">
                        <a href="member_notice.html">公告通知</a>
                    </div>
                    <div class="font18 color sort">
                        <a href="member_meeting.html" class="active">会议通知</a>
                          <ul>
                            <li class="font16 color6" :style="is_read == '0'?'border:solid 1px #b02923':''"  @click="tab(0)">最新通知</li>
                            <li class="font16 color6" :style="is_read == '1'?'border:solid 1px #b02923':''"  @click="tab(1)">历史通知</li>
                        </ul>
                    </div>
                    <div class="font18 color sort">
                        <a href="member_task.html">任务中心</a>
                    </div>
                    <div class="font18 color sort">
                        <a  href="member_report.html">思想汇报</a>
                    </div>
                </div>
            </div>
            <div class="member_right">
                <div :style="is_read == '0'?'display:block':'display:none'">
                    <div class="message_list bg1" style="height:2.6rem;" v-for="item in mainData">
                        <div  class="message_left">
                            <h3 class="font20 color2">{{item.title}}</h3>
                            <p class="font16 color6">{{item.description}}</p>
                            <span class="color9 font14">{{item.create_time}}</span>
                        </div>
                        <div class="message_right">
                            <img :src="item.mainImg[0].url"/>
                        </div>
                        <div class="join" :style="item.message.length==0?'display:block':'display:none'">
                            <button class="font16 color1 bg" @click="messageAdd(item.id)">确认参加</button>
                            <a  @click="intoSubmit(item.id)" class="font16 color1 bg">无法参加</a>
                        </div>
                        <div class="join" :style="item.message&&item.message.length>0?'display:block':'display:none'">
                            <button class="font16 color1 bg" v-if="item.message&&item.message[0]&&item.message[0].score==1" @click="messageUpdate(item.message[0].id)">签到</button>
                        </div>
                        <div class="join" :style="item.message&&item.message.length>0?'display:block':'display:none'">
                            <button class="font16 color1 bg" v-if="item.message&&item.message[0]&&item.message[0].score==2">已签到</button>             
                        </div>
                        <div class="join" :style="item.message&&item.message.length>0?'display:block':'display:none'">
                            <button class="font16 color1 bg" v-if="item.message&&item.message[0]&&item.message[0].score==3">已核销</button>
                        </div>
                    </div>
                </div>
                <div :style="is_read == '1'?'display:block':'display:none'">
					<div class="message_list bg1" style="height:2.6rem;" v-for="item in mainData">
                        <div  class="message_left">
                            <h3 class="font20 color2">{{item.title}}</h3>
                            <p class="font16 color6">{{item.description}}</p>
                            <span class="color9 font14">{{item.create_time}}</span>
                        </div>
                        <div class="message_right">
                            <img :src="item.mainImg[0].url"/>
                        </div>
                      	<div class="join" :style="item.message.length==0?'display:block':'display:none'">
                            <button class="font16 color1 bg" @click="messageAdd(item.id)">确认参加</button>
                            <a  @click="intoSubmit(item.id)" class="font16 color1 bg">无法参加</a>
                        </div>
                        <div class="join" :style="item.message&&item.message.length>0?'display:block':'display:none'">
                            <button class="font16 color1 bg" v-if="item.message&&item.message[0]&&item.message[0].score==1" @click="messageUpdate(item.message[0].id)">签到</button>
                        </div>
                        <div class="join" :style="item.message&&item.message.length>0?'display:block':'display:none'">
                            <button class="font16 color1 bg" v-if="item.message&&item.message[0]&&item.message[0].score==2">已签到</button>             
                        </div>
                        <div class="join" :style="item.message&&item.message.length>0?'display:block':'display:none'">
                            <button class="font16 color1 bg" v-if="item.message&&item.message[0]&&item.message[0].score==3">已核销</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript " src="js/bootstrap.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/my.js"></script>
<script src="js/rem.js"></script>
<script type="text/javascript">
var app = new Vue({
    el: '#app',
    data: function() {
        return {
            is_toggle:false,
            is_menu:0,
            is_read:0,
            menuShow:false,
            searchItem:{
		    	create_time:['>',new Date(new Date().toLocaleDateString()).getTime()/1000]
		   	},
		   	paginate:{
                count: 0,
                currentPage: 1,
                pagesize: 6,
                is_page: true,
            },
           	submitData:{
		        type:1,
		        class:2,
		        score:1
		    },
			mainData:[],
			sliderData:[],
			getBefore:{
		      caseData:{
		        tableName:'Label',
		        searchItem:{
		          title:['=',['会议通知']],
		        },
		        middleKey:'menu_id',
		        key:'id',
		        condition:'in',
		      },
		    },
        }
    },

    created: function () {
      	this.getMainData()
      	this.getSliderData()
    },

    methods:{

    	getSliderData(){
		    const self = this;
		    const postData = {};
		    postData.searchItem = {
		      thirdapp_id:2
		    };
		    postData.getBefore = {
			    caseData:{
			        tableName:'Label',
			        searchItem:{
			          title:['=',['党员管理轮播']],
			        },
			        middleKey:'parentid',
			        key:'id',
			        condition:'in',
			    },
		    };
		    const callback = (res)=>{ 
		      console.log(1000,res);
		      if(res.info.data.length>0){
		       self.sliderData.push.apply(self.sliderData,res.info.data)
		      }
		    };
		    window.base.labelGet(postData,callback);
		},

    	getMainData(isNew){
		    const  self =this;
		    if(isNew){
		      	self.mainData = [];
	            self.paginate = {
	                count: 0,
	                currentPage: 1,
	                pagesize: 6,
	                is_page: true,
	            }
		    };
		    const postData={};
		    postData.paginate = window.base.cloneForm(self.paginate);
		    postData.searchItem = window.base.cloneForm(self.searchItem);
		    postData.getBefore = window.base.cloneForm(self.getBefore);
	        postData.getAfter = {
		      message:{
		        tableName:'Message',
		        middleKey:'id',
		        key:'relation_id',
		        searchItem:{
		          status:1
		        },
		        condition:'='
		      }
		    };
		    const callback =(res)=>{
		      if(res.info.data.length>0){
		        self.mainData.push.apply(self.mainData,res.info.data);
		    
		      }else{
		        self.isLoadAll = true;
		        alert('没有更多了');
		      };
		    };
		    window.base.articleGet(postData,callback);
		},



		messageAdd(id){
		    const self = this;
		    const postData = {};
		    postData.token = localStorage.getItem('token');
		    postData.data = {};
		    postData.data = window.base.cloneForm(self.submitData);
		    postData.data.relation_id = id;
		    const callback = (res)=>{
		      if(res.solely_code==100000){
		        alert('确认参加');
		        setTimeout(function(){
		          self.getMainData(true)
		        },1000);
		      }; 
		    };
		    window.base.messageAdd(postData,callback);
		},

		messageUpdate(id){
		    const self = this;
		    const postData = {};
		    postData.token = localStorage.getItem('token');
		    postData.searchItem={
		      id:id
		    };
		    postData.data = {
		      score:2,
		      sign_time:new Date(new Date().toLocaleDateString()).getTime()
		    };

		    const callback = (res)=>{
		      if(res.solely_code==100000){
		        alert('签到成功');
		        setTimeout(function(){
		          self.getMainData(true)
		        },1000);
		      }else{
		      	alert(res.msg);
		      }
		    };
		    window.base.messageUpdate(postData,callback);
		},


		tab(id){
		    const self = this;
		    var time = new Date(new Date().toLocaleDateString()).getTime()/1000;
		    console.log('time',time);
		    self.is_read=id;
		     console.log('self.is_read',self.is_read);
		    if(self.is_read==0){
		      self.searchItem.create_time = ['>',time]
		    }else if(self.is_read==1){
		      self.searchItem.create_time = ['<',time]
		    };
		    self.getMainData(true);
		},

        toggleMenu:function(e){
            var self = this;
            self.is_toggle = !self.is_toggle;
        },
      	
      	intoSubmit(id){
            const self = this;
            window.location.href = 'member_meeting_submit.html?id='+id;
        },
      
        menu_show(id){
            const self = this;
            var index = id;
            self.is_menu = index;
            self.menuShow = !self.menuShow;
            console.log('menuShow',self.menuShow);
        },
        
        
    }
});
</script>
</body>
</html>